.trust-block__body::after {
  background-image: url("/fotoalteadespacho.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0a0a0a;
}
